.clear {
    background-image: url(http://www.ifreewallpaper.com/wallpapers_download/mobile/240_320_wallpapers/20110404/B/B_sunshine_wa3idt4f.gif);
}

.clouds {
    background-image: url(https://thumbs.gfycat.com/DeadlyEmotionalArcherfish-size_restricted.gif);
}

.rain {
    background-image: url(https://i.pinimg.com/originals/4a/b2/cb/4ab2cbefbe285003a99fa4660770657f.gif);
}

.snow {
    background-image: url(http://galeriedesartistes.g.a.pic.centerblog.net/c765e6c8.gif);
}


body {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);


    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    background-position: center;
    background-size: cover;
}

h1{
    font-size: 3em;
    position: relative;
}

i.wi {
    font-size: 5em;
    line-height: 3em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #fff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: opacity .3s, top .5s;
}

h1:hover .tooltip {
    top: -50px;
    opacity: 1;
}